<!DOCTYPE html>
<html lang="en"  ng-app="gemStore">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GemStore</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/bootstrap/css/bootstrap.min.css" />

    <!-- Custom styles for this app -->
    <link href="./assets/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="./assets/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as vm">
    <!--  Product Container  -->
    <div class="list-group-item" ng-repeat="product in vm.products">
      <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

        <!-- Image Gallery  -->
        <div ng-controller="GalleryController as gallery"  ng-show="product.images.length">
          <div class="img-wrap">
            <img ng-src="{{product.images[gallery.current]}}" />
          </div>
          <ul class="img-thumbnails clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
              <img ng-src="{{image}}" />
            </li>
          </ul>
        </div>

       <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{active:tab.isSet(1)}">
            <a href ng-click="tab.setTab(1)">Description</a></li>
          <li ng-class="{active:tab.isSet(2)}">
            <a href ng-click="tab.setTab(2)">Specs</a></li>
          <li ng-class="{active:tab.isSet(3)}">
            <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>

        <!--  Description Tab's Content  -->
        <product-description ng-show="tab.isSet(1)"></product-description>

        <!--  Spec Tab's Content  -->
        <div ng-show="tab.isSet(2)" product-specs></div>

        <!--  Review Tab's Content  -->
        <product-reviews ng-show="tab.isSet(3)"></product-reviews>

      </section>
    </div>
</body>
</html>

