<!DOCTYPE html>
<html lang="en"  ng-app="gemStore">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GemStore</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/bootstrap/css/bootstrap.min.css" />

    <!-- Custom styles for this app -->
    <link href="./assets/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="./assets/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as vm">
    <!--  Product Container  -->
    <div class="list-group-item" ng-repeat="product in vm.products">
      <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

        <!-- Image Gallery  -->
        <div ng-controller="GalleryController as gallery"  ng-show="product.images.length">
          <div class="img-wrap">
            <img ng-src="{{product.images[gallery.current]}}" />
          </div>
          <ul class="img-thumbnails clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
              <img ng-src="{{image}}" />
            </li>
          </ul>
        </div>

       <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{active:tab.isSet(1)}">
            <a href ng-click="tab.setTab(1)">Description</a></li>
          <li ng-class="{active:tab.isSet(2)}">
            <a href ng-click="tab.setTab(2)">Specs</a></li>
          <li ng-class="{active:tab.isSet(3)}">
            <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>
        <product-description ng-show="tab.isSet(1)"></product-description>
        <div ng-show="tab.isSet(2)">
          <h4>Specs</h4>
          <blockquote>Shine: {{ product.shine }}</blockquote>
        </div>
        <div ng-show="tab.isSet(3)">
            <ul>
                <h4>Reviews</h4>
                <li ng-repeat="review in product.reviews">
                    <blockquote>
                        <strong>{{ review.stars }} Stars</strong>
                        {{ review.body }}
                        <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
                    </blockquote>
                </li>
                <!--  Review Form -->
                <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                    <!--  Live Preview -->
                    <blockquote>
                        <strong>{{reviewCtrl.review.stars}} Stars</strong>
                        {{reviewCtrl.review.body}}
                        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                    </blockquote>

                    <!--  Review Form -->
                    <h4>Submit a Review</h4>
                    <fieldset class="form-group">
                        <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                            <option value="">Rate the Product</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="email" ng-model="reviewCtrl.review.author" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                    </fieldset>
                </form>
            </ul>
        </div>
      </section>
    </div>
</body>
</html>

